.disk {
    margin-top: 20px;
    height: calc(100vh - 50px - 50px);

    &-btns {
        display: flex;
        gap: 20px;

        button {
            background-color: #fff;
            border: none;
            padding: 6px 12px;
            cursor: pointer;
            font-size: 17px;
            color: #234244;
            font-weight: 600;
            transition: .1s all ease-in-out;

            &:hover {
                transform: scale(1.04);
            }

            &:active {
                transform: scale(0.96);
            }
        }
    }

    &-upload__input {
        display: none;
    }

    &-upload__label {
        background-color: #fff;
        border: none;
        padding: 6px 12px;
        cursor: pointer;
        font-size: 17px;
        color: #234244;
        font-weight: 600;

        &:hover {
            transform: scale(1.04);
        }

        &:active {
            transform: scale(0.96);
        }


    }

    &-back {}

    &-create {}

}

.drag-area {
    width: 100%;
    height: calc(100vh - 100px - 20px);
    border: dashed #234244 3px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}