.navbar {
    background-color: #fff;


    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    &-title {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-auth {
        display: flex;
        gap: 20px;
        align-items: center;


        a {
            color: unset;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navbar-logo__block {
    display: flex;
    align-items: center;
    gap: 20px
}

.navbar-logo {
    width: 60px;
    height: 60px;
}

.active {

    font-weight: 600;
}